<nav>
        <div class="nav-wrapper grey darken-4">
            <a href="#" data-activates="nav-sidebar" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo center blue-grey-text text-lighten-5">Generic MVC <img style="max-height:60px" class="responsive-img" src=""></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://github.com/ChristopherMorrison/Generic-MVC-Project">GITHUB</a></li>
            </ul>
        </div>
    </nav>