@{
    ViewData["Title"]="Home";
}
<div style="overflow:auto" class="row grey lighten-2">
    @Html.Partial("_Header")

    @Html.Partial("_sidebar")

    <div class="row col s12" style="overflow:hidden;position:relative;padding: 0 0 0 0">
        <div class="col s12 l10 offset-l2 row" style="height:calc(100vh - 60px);overflow:auto;">
            <div class="col s12" style="height:.85rem"></div>

            <div id="abc" class="col s6 card">
                <script>
                    $('#abc').load('/home/chart1')
                </script>
            </div>

            <div id="def" class="col s6 card">
                <script>
                    $('#def').load('/home/chart2')
                </script>
            </div>
            
            <div class="col s12 ">
                <div class="card">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="active" href="#test1">Tab 1</a></li>
                            <li class="tab col s3"><a href="#test2">Tab 2</a></li>
                            <li class="tab col s3"><a href="#test3">Tab 3</a></li>
                            <li class="tab col s3 disabled" ><a href="#test4" >Disabled Tab</a></li>
                        </ul>
                    </div>

                    <table class=" striped highlight">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                            </tr>
                            <tr>
                            <td>Jonathan</td>
                            <td>Lollipop</td>
                            <td>$7.00</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!--
        <div class="col s6 ">
                <div class="card">
                    <h3>Title</h3>
                    <p>For reference this entire view is the project and these cards are the project entries</p>
                    <p>This card needs to look better, try these things by using materialize css:</p>
                    <ul>
                        <li>Find a way to make the text on this card have more distance from the edge of the card (read up on card,
                            card-text in materialize)</li>
                        <li> add all the information found on the project entry model here, I might remove some later but just make
                            it look nice</li>
                        <li> Make a new card that has an attached picture/drawing, there are other card classes for things like that</li>
                        <li> Make a new entry in the nav bar at the top right and make it one of those round buttons that pulses (see
                            CSS/pulse on materialize)</li>
                        <li> take a look at ./index.html and have a giggle</li>
                        <li> feel free to also play with the other cards</li>
                    </ul>
                </div>
            </div>
        <div class="col s4">
            <div class="card" style="">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem lectus, iaculis sit amet orci eu, ullamcorper
                    imperdiet leo. Proin a metus tellus. Quisque a ex eget est luctus dapibus. Donec lacinia dapibus felis,
                    ut lobortis massa tincidunt vel. Sed ac urna quis est eleifend rutrum vitae a felis. Nullam felis enim,
                    dapibus eget blandit a, porta a lacus. Donec vitae eros nec nisl porttitor egestas. Curabitur quis pretium
                    sapien. Suspendisse molestie lectus tristique lectus fermentum, et egestas orci consectetur. Nunc nec
                    lectus nisi. Vestibulum ut lacus risus. Nulla blandit congue tortor, in cursus nulla tristique quis.
                    Donec dapibus accumsan ex et tempus. Suspendisse auctor nisi dolor, sed consectetur arcu finibus at.
                    Aliquam ut gravida massa, maximus semper est. Maecenas dapibus, lorem vitae luctus commodo, elit erat
                    laoreet elit, a viverra lectus ante vitae nisi.</p>
            </div>
            
            <div style="margin-bottom:50px;height:1px"></div>
            <div class="col s1"></div>
            <div class="col s3">
                    <a class="btn btn-floating btn-large grey darken-2 pulse"><i class="material-icons">menu</i></a>
            </div>
            <div class="col s1"></div>
            <div class="col s4">
                    <a class="btn btn-floating btn-large grey darken-2 pulse"><i class="material-icons">cloud</i></a>
            </div>
            <div class="col s3">
                    <a class="btn btn-floating btn-large grey darken-2 pulse"><i class="material-icons">edit</i></a>
            </div>
            
            <div style="margin-bottom:200px;height:1px"></div>
        </div>-->
    </div>

</div>
