<ul class="side-nav fixed grey lighten-5" style="margin-top:64px">
    <li><a href="#!" class="waves-effect">This will be a section dropdown</a></li>
    <li><a href="#!" class="waves-effect">Make these do the wave on click</a></li>        
    <li><a href="#!" class="waves-effect">Abstract</a></li>
    <li><a href="#!" class="waves-effect">Setup</a></li>
    <li><a href="#!" class="waves-effect">Results</a></li>
    <li><a href="#!" class="waves-effect">Sources of Error   (5)</a></li>
</ul>
